.contact {
  display: grid;
  gap: 3rem;
  padding: 3rem 0;
}

.contact--text {
  margin-bottom: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form--fullname {
  display: flex;
  flex-direction: column;
}

.submit--btn {
  background-color: var(--color-dark);
  border-radius: 0.5rem;
  border-style: none;
  color: var(--color-light);
  font-family: inherit;
  height: 4.5rem;
  margin: 2rem 0 1rem 0;
  width: 20rem;
}
.submit--btn:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

.success {
  color: var(--color-success);
}
