header {
  align-items: center;
  background-color: var(--color-light);
  border-bottom: 1.5px solid var(--color-dark);
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  position: sticky;
  top: 0;
}

header .site--logo {
  color: var(--color-dark);
  font-family: var(--font-family-primary);
  font-size: 2.25rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

.site--logo:hover {
  text-decoration: none;
}

.header--btn {
  background-color: inherit;
  border-style: none;
  color: var(--color-dark);
  font-size: 3rem;
}

.header--links {
  background-color: var(--color-dark);
  color: var(--color-light);
  height: 15rem;
  left: 0;
  padding: 3.5rem 0;
  position: absolute;
  text-align: center;
  top: 9.85rem;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .expanded {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .hidden {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .site--logo {
    margin-bottom: 0rem;
  }
  .header--menu {
    display: block;
  }
  .header--btn {
    display: none;
  }
  .header--links {
    background-color: var(--color-light);
    color: var(--color-dark);
    display: flex;
    height: 0;
    margin-bottom: 1rem;
    padding-top: 0;
    position: initial;
  }
  .header--links li {
    margin-left: 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding: 3rem 6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 3rem 9rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    padding: 3rem 15rem;
  }
}
